:host ::ng-deep .p-sidebar {
    background-color: #333;
    border: none;
    border-radius: 0;
  }
  
  :host ::ng-deep .p-sidebar .p-menuitem-link {
    color: #fff;
  }
  
  :host ::ng-deep .p-sidebar .p-menuitem-link:focus {
    box-shadow: none;
  }
  
  :host ::ng-deep .p-sidebar .p-menuitem-link:hover {
    background-color: #555;
  }
  
  :host ::ng-deep .p-sidebar .p-submenu-icon {
    color: #fff;
  }
  
  :host ::ng-deep .p-sidebar .p-menuitem-icon {
    margin-right: 0.5rem;
  }
  